@import "tailwindcss";

* {
  font-family: var(--font-saira);
}

::selection {
  color: var(--color-secondary-gold);
  background-color: var(--color-secondary-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-pirata-one);
}

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-gold);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-secondary-black);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

@theme {
  --color-primary-black: #121111;
  --color-secondary-black: #1a1a1a;
  --color-dark-black: #0a0a0a;
  --color-primary-gold: #e6c56b;
  --color-secondary-gold: #d4af37;
  --color-primary-white: #f9f9f9;
  --color-brown: #2f1e0b;
  --color-invalid-color: #cc5826;
}

@layer utilities {
  #line1 {
    opacity: 0;
    fill-opacity: 0;
    animation: music-line 2s ease 0.2s forwards;
  }
  #line2 {
    opacity: 0;
    fill-opacity: 0;
    animation: music-line 2s ease 0.3s forwards;
  }
  #line3 {
    opacity: 0;
    fill-opacity: 0;
    animation: music-line 2s ease 0.4s forwards;
  }
  #line4 {
    opacity: 0;
    fill-opacity: 0;
    animation: music-line 2s ease 0.5s forwards;
  }
  #line5 {
    opacity: 0;
    fill-opacity: 0;
    animation: music-line 2s ease 0.6s forwards;
  }
  #line6 {
    opacity: 0;
    fill-opacity: 0;
    animation: music-line 2s ease 0.7s forwards;
  }

  .note {
    opacity: 0;
  }

  #note1 {
    animation:
      music-note-fadein 2s ease 2s forwards,
      music-note-float 3s ease-in-out 2s infinite;
  }
  #note2 {
    animation:
      music-note-fadein 2s ease 2.2s forwards,
      music-note-float 3.5s ease-in-out 2.2s infinite;
  }
  #note3 {
    animation:
      music-note-fadein 2s ease 2.4s forwards,
      music-note-float 4s ease-in-out 2.4s infinite;
  }
  #note4 {
    animation:
      music-note-fadein 2s ease 2.6s forwards,
      music-note-float 2.8s ease-in-out 2.6s infinite;
  }
  #note5 {
    animation:
      music-note-fadein 2s ease 2.8s forwards,
      music-note-float 3.2s ease-in-out 2.8s infinite;
  }
  #note6 {
    animation:
      music-note-fadein 2s ease 1s forwards,
      music-note-float 4.2s ease-in-out 3s infinite;
  }
  #note7 {
    animation:
      music-note-fadein 2s ease 1.2s forwards,
      music-note-float 3.7s ease-in-out 3.2s infinite;
  }
  #note8 {
    animation:
      music-note-fadein 2s ease 1.4s forwards,
      music-note-float 2.9s ease-in-out 3.4s infinite;
  }
  #note9 {
    animation:
      music-note-fadein 2s ease 1.6s forwards,
      music-note-float 4.4s ease-in-out 3.6s infinite;
  }
  #note10 {
    animation:
      music-note-fadein 2s ease 1.8s forwards,
      music-note-float 3.3s ease-in-out 3.8s infinite;
  }
  #note11 {
    animation:
      music-note-fadein 2s ease 2s forwards,
      music-note-float 3.9s ease-in-out 4s infinite;
  }
  #note12 {
    animation:
      music-note-fadein 2s ease 2.2s forwards,
      music-note-float 2.7s ease-in-out 4.2s infinite;
  }
  #note13 {
    animation:
      music-note-fadein 2s ease 2.4s forwards,
      music-note-float 4.5s ease-in-out 4.4s infinite;
  }
  #note14 {
    animation:
      music-note-fadein 2s ease 2.6s forwards,
      music-note-float 3.6s ease-in-out 4.6s infinite;
  }
  #note15 {
    animation:
      music-note-fadein 2s ease 2.8s forwards,
      music-note-float 3.1s ease-in-out 4.8s infinite;
  }
  #note16 {
    animation:
      music-note-fadein 2s ease 3s forwards,
      music-note-float 4.1s ease-in-out 5s infinite;
  }
  #note17 {
    animation:
      music-note-fadein 2s ease 3.2s forwards,
      music-note-float 2.6s ease-in-out 5.2s infinite;
  }
  #note18 {
    animation:
      music-note-fadein 2s ease 3.4s forwards,
      music-note-float 4.3s ease-in-out 5.4s infinite;
  }
  #note19 {
    animation:
      music-note-fadein 2s ease 3.6s forwards,
      music-note-float 3.4s ease-in-out 5.6s infinite;
  }

  .shadow-card {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }

  .shadow-card-light {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .shadow-card-gold {
    box-shadow: 0 2px 8px rgb(230, 197, 107, 0.3);
  }

  .font-pirate {
    font-family: "Pirata One", cursive;
  }

  .text-gradient-gold {
    background: linear-gradient(
      to bottom,
      var(--color-primary-gold),
      var(--color-secondary-gold)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .gradient-gold {
    background: linear-gradient(
      to bottom,
      var(--color-primary-gold),
      var(--color-secondary-gold)
    );
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
  }

  .animation-popup {
    animation: fadeInPopup 0.5s ease-in forwards;
  }

  .diagonal-strike::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 140%;
    height: 2px;
    background-color: var(--color-primary-gold);
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: 20;
    pointer-events: none;
  }

  .group:hover .icon-container:hover ~ .card-border {
    outline-color: transparent !important;
  }

  .linear-background-black {
    background: linear-gradient(
      135deg,
      var(--color-dark-black),
      var(--color-secondary-black),
      var(--color-primary-black)
    );
    background-attachment: fixed;
    background-size: cover;
  }

  .background-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;

    background: linear-gradient(
      135deg,
      var(--color-dark-black),
      var(--color-secondary-black),
      var(--color-primary-black)
    );
    background-size: cover;
    background-repeat: no-repeat;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-secondary-black) inset;
  -webkit-text-fill-color: var(--color-primary-gold);
  transition: background-color 5000s ease-in-out 0s;
  font-family: var(--font-saira);
}

/* FULLCALENDAR STYLES - start */

/* Título do mês/semana/dia */
.fc-toolbar-title {
  color: var(--color-primary-gold); /* cor do texto */
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-saira);
}

/* Botões (Today, Prev, Next) */
.fc .fc-button {
  background-color: transparent; /* fundo */
  border: none;
  color: var(--color-primary-gold); /* texto */
}

.fc .fc-button:hover {
  background-color: var(--color-primary-gold); /* hover */
  color: var(--color-primary-black);
  cursor: pointer;
}

/* Setas (prev/next) */
.fc-icon {
  color: var(--color-primary-gold);
}

.fc-icon:hover {
  color: var(--color-primary-black);
}

/* Cabeçalho dos dias da semana */
.fc-col-header-cell {
  background-color: var(--color-primary-gold);
  color: var(--color-primary-black);
  font-weight: bold;
}

/* Fundo dos dias */
.fc-daygrid-day {
  background-color: var(--color-secondary-black);
}

/* Dia atual */
.fc-day-today {
  background-color: var(--color-primary-black) !important;
  color: var(--color-primary-gold);
  font-weight: 500;
}

/* Borda dos dias e do grid */
.fc-theme-standard td,
.fc-theme-standard th {
  border-color: var(--color-primary-gold);
}

/* Borda do evento */
.fc-daygrid-event {
  border-color: transparent;
}

/* Remove ou muda a borda externa da tabela principal */
.fc-theme-standard .fc-scrollgrid {
  border-top-color: #bfa14a; /* cor do seu tema */
  border-left-color: #bfa14a; /* cor do seu tema */
}

/* Se quiser remover de vez */
.fc-theme-standard .fc-scrollgrid {
  border-color: var(--color-primary-gold) !important;
}

.fc-event {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

/* FULLCALENDAR STYLES - end */

/* REACT CALENDAR STYLES - start */
.react-calendar {
  border: none;
  max-width: 600px;
}

.react-calendar__navigation {
  background-color: transparent;
  color: var(--color-primary-gold);
}

.react-calendar__navigation__label {
  font-weight: bold;
  font-size: 18px;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6px;
  background: var(--color-primary-black);
  border: 1px solid var(--color-primary-gold);
  color: var(--color-primary-gold);
  cursor: pointer;
}

.react-calendar__tile--active {
  background: var(--color-primary-gold) !important;
  color: var(--color-primary-black) !important;
}

.react-calendar__tile--now {
  background: var(--color-dark-black);

  color: var(--color-primary-white);
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  font-weight: bold;
  color: var(--color-primary-gold);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #ccc;
  background-color: var(--color-secondary-black);
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.my-disabled-day {
  color: #ccc;
  background-color: var(--color-secondary-black);
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center; /* centraliza */
  gap: 40px; /* espaço entre os botões */
}

.react-calendar__navigation__arrow {
  flex: 0 0 auto;
  margin: 0 10px; /* margem lateral */
  font-size: 1.5em; /* deixa as setas maiores, opcional */
}

/* REACT CALENDAR STYLES - end */

@keyframes fadeInPopup {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInSpin {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes music-line {
  0% {
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 150 0;
    stroke-dashoffset: 20;
    stroke-width: 3;
    opacity: 1;
  }
}

@keyframes music-note-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes music-note-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
